// ACERCA DE
@use 'variables';

.subtitulo{
    margin: 30px;
    padding: 30px;
}

.text{
    color: variables.$light;
    margin: 20px;
    padding: 10px;
}

strong{
    color: variables.$salmon;
}

