// VARIABLES

// Colores
$dark:#000000;
$light:#f7f7f7;
$salmon:#F2B4AE;
$gray: #808080;
// Tamaño de Fuente
$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 2em;
$fuente-xxl: 5em;
// Tipo de Fuente
$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

